[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
sklearn = "*"
lightgbm = "*"
xgboost = "*"
mlxtend = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
